version: '3.8'

services:
  mariadb:
    image: mariadb:11.8
    container_name: lcbp3-db-local
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Center#2025
      MYSQL_DATABASE: lcbp3_dev
      MYSQL_USER: admin
      MYSQL_PASSWORD: Center2025
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - lcbp3-net

  # Optional: phpMyAdmin สำหรับจัดการ DB ง่ายๆ
  pma:
    image: phpmyadmin/phpmyadmin
    container_name: lcbp3-pma-local
    environment:
      PMA_HOST: mariadb
    ports:
      - '8080:80'
    depends_on:
      - mariadb
    networks:
      - lcbp3-net

volumes:
  db_data:

networks:
  lcbp3-net:
    driver: bridge